body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
/* .labels {
    font-size: 12px;
} */
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}
/* .graph .labels.x-labels {
    text-anchor: middle;
  }
.graph .labels.x-labels {
    text-anchor: middle;
} */
svg {
    overflow: visible;
}
.graph {
    display:none;
    height: 500px;
    width: 800px;
}
  
.graph .grid {
    stroke: #000000;
    stroke-dasharray: 0;
    stroke-width: 1;
}

.data {
    fill: red;
    stroke-width: 1;

}
.bleh {
    position:relative;
    cursor: help;
}
.bleh:hover {
    fill: green;
}
.bleh::after {
    content: "hello:=)";
    display:block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: orange;
}
svg.graph .x-labels {
    text-anchor: end;
}

svg.graph .y-labels {
    text-anchor: middle;
}
/* svg.graph .points {
    stroke: white;
    stroke-width: 3;
  }
svg.graph .first_set {
    fill: #00554d;
} */
